.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	margin:0px 0px 20px 0px;
	text-align: center;
	border:1px solid #b32929;
}

.alert2{
	background: #4B8673;
	color: white;
	padding: 10px;
    margin:0px 0px 20px 0px;
	text-align: center;
	border:1px solid #000000;
}

.gatemain{
	background-image: url('images/favgate.png');
}